<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    
</head>
<body>

    <%  if (locals.error) {  %>
        <div style="margin-bottom:1rem ;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        color: red;
        " >
           Incorrect Password
        </div>
        <% } %>

    <form  method="post" 
    style="
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
    max-width: 500px;
    margin: 40px auto;
    ">
        
        <label for="password" style="margin-top: 20px;">Password : </label>
        <input type="password" id="password" name="password" required
        style="margin-top: 20px;"/>
        <button type="submit" 
        style="
        grid-column: span 2;
        height: 30px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 20px;
        "
        >Download</button>
    </form>
</body>
</html>